<!DOCTYPE html>

<html lang=en>

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE-Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>pintext</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.5/vue.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

</head>

<body>

    <div class="container" id="formSubmission">

        <div class="form-container">
            <form class="signup-form" v-on:submit.prevent="onSubmit">

                <input v-model="username" type="text" placeholder="Enter Username" name="username" required>
                <br>
                <p>{{ username }}</p>

                <input v-model="password" type="password" placeholder="Enter Password" name="password" required>
                <br>
                <p>{{ password }}</p>

                <button type="submit">Sign Up</button>

            </form>
        </div>
    </div>

</body>

<script>
    // axios.defaults.headers.post['Content-Type'] = 'application/x-www-form-urlencoded';

    new Vue({
        el: '#formSubmission',
        data: {
            username: '',
            password: ''
        },
        methods: {
            onSubmit: function () {
                console.log("Hoye Hoye Hoye");
                // alert("The prevent thingmajig works");

                // Add Headers

                //How to call Axios
                axios.post('http://localhost:2348/users/login/', {
                    username: this.username,
                    password: this.password
                })
                    .then(function (response) {
                        console.log(response);
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            }
        }
    })

</script>

<style>

</style>